:host {
  display: flex;
  justify-content: center;
  align-items: center;

      .container {
        background-color: #f3f3f3;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 5%;

        img {
          width: 25%;
          border: 1px solid;
          border-radius: 50%;
          margin-bottom: 20px;
          background-color: hsl(0, 0%, 91%);

        }

        h1 {
          margin-bottom: 20px;
          display: inline;
        }


        .form-group {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 60%;

          input, select {
            margin-bottom: 20px;
            width: 100%;
          }

        }
      p {
        cursor: pointer;
      }
    }

    a {
      font-size: 1.5rem;
      font-weight: 600;
      color: hsl(0, 0%, 40%);
      cursor: pointer;
    }
}
